<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles-maquetacion.css">
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <img
        class="header__img"
        src="../assets/images/logo-platzi-video-BW2.png"
        alt=""
      />
      <div class="header__menu">
        <div class="header__menu--profile">
          <img src="../assets/images/user-icon.png" alt="User" />
          <p>Perfil</p>
        </div>
        <ul>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Cerrar Sesión</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
