<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles-maquetacion.css">
    <title>Main</title>
  </head>
  <style>
  </style>
  <body>
    <section class="main">
      <h2 class="main__title">¿Qué quieres ver hoy?</h2>
      <input class="input" type="text" placeholder="Buscar..." />
    </section>
  </body>
</html>
